In [1]:
import os
from time import sleep
from tqdm import tqdm

Gets a list of all regular-season games for a season

In [2]:
from nba_api.stats.endpoints import commonallplayers

In [3]:
req = commonallplayers.CommonAllPlayers()
df = req.common_all_players.get_data_frame()

In [4]:
df

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,0,,,,,Y,00
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,0,,,,,Y,00
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,0,,,,,Y,00
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,0,,,,,Y,00
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,0,,,,,Y,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4504,1627790,"Zizic, Ante",Ante Zizic,1,2017,2019,ante_zizic,1610612739,Cleveland,Cavaliers,CLE,cavaliers,Y,01
4505,78647,"Zoet, Jim",Jim Zoet,0,1982,1982,HISTADD_jim_zoet,0,,,,,Y,00
4506,78648,"Zopf, Bill",Bill Zopf,0,1970,1970,HISTADD_zip_zopf,0,,,,,Y,00
4507,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2019,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,Y,01
4508,78650,"Zunic, Matt",Matt Zunic,0,1948,1948,HISTADD_matt_zunic,0,,,,,Y,00

In [5]:
df.to_csv('commonallplayers.csv', index=False)